body {
    font-family: Arial, sans-serif;
    margin: 0; 
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

nav {
    display: flex;
    justify-content: flex-end; 
    background-color: #2299ff;
    color: white;
    padding: 5px;
    gap: 10px;
}

h2 {
    color: blue;
    text-decoration: underline;
}

p {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Courier, monospace; 
}

h1 {
    display: flex;
    font-size: 20px;
    font-family: 'Arial', Courier, monospace;
    margin-left: 17px;
}

a {
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

header {
    background-color: #2299ff;
    color: white;
    text-align: center;
    padding: 5px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex: 1; 
}

article {
    flex: 3;
}

aside {
    flex: 1;
    background-color: #adaeab;
    padding: 5px;
    border-radius: 5px;
    height: 60%;
}

img {
    display: block;
    margin: 0 auto;
    height: 200px;
}

.name-university {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.name-university p {
    margin-left: 5px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #2299ff;
    color: white;
    padding: 5px;
}
