body {
    font-family: Arial, sans-serif;
}
nav{
    display: flex;
    justify-content: right;
    background-color: #2299ff;
    color: white;
    padding: 5px;
    gap: 20px;
}
h1{
    font-size: 20px;
}
a{
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}
header, footer {
    background-color: #2299ff;
    color: white;
    text-align: center;
    padding: 5px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

article {
    flex: 3;
}

aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 10px;
    margin-left: 20px;
}

img {
    display: block;
    margin: 0 auto;
}
