body {
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: right;
    background-color: #2299ff;
    color: white;
    padding: 5px;
    gap: 10px;
}
h2{
    color: blue;
    text-decoration: underline;
    
}
P{
    font-size: 15px;
    font-weight: bold;
    font-family: 'New roman', Courier, monospace;
    justify-content: 20%;
}
h1{
    display: flex;
    font-size: 20px;
    font-family: 'Arial', Courier, monospace;
    margin-left: 17px;
}
a{
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}
header, footer {
    background-color: #2299ff;
    color: white;
    text-align: center;
    padding: 5px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

article {
    flex: 3;
}

aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 10px;
    margin-left: 20px;
}

img {
    display: block;
    margin: 0 auto;
    widhth: 200px;
    height: 200px;
    background-color: #f4f;
    border-radius: 10px;
}
